/* styles.css */
.root {
    -fx-background-color: -fx-color-background;
    -fx-text-fill: -fx-text-primary;
}

.bg-primary {
    -fx-background-color: -fx-color-primary;
}

.bg-primary-hover:hover {
    -fx-background-color: -fx-color-primary-hover;
}

.text-primary {
    -fx-text-fill: -fx-text-primary;
}

.text-secondary {
    -fx-text-fill: -fx-text-secondary;
}

.border-muted {
    -fx-border-color: -fx-color-border;
}

.btn-primary {
    -fx-background-color: -fx-color-primary;
    -fx-text-fill: -fx-text-primary;
}

.btn-secondary {
    -fx-background-color: -fx-color-secondary;
    -fx-text-fill: -fx-text-primary;
}

.btn-destructive {
    -fx-background-color: -fx-color-destructive;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: derive(-fx-color-muted, 20%);
}

.btn-constructive {
    -fx-background-color: -fx-color-constructive;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: -fx-color-muted;
    -fx-text-fill: -fx-text-primary;
}

.combo-box .text {
    -fx-fill: -fx-text-primary;
}

.combo-box .list-cell {
    -fx-text-fill: -fx-text-primary;
    -fx-background-color: -fx-color-muted;
}

.combo-box .list-view {
    -fx-control-inner-background: -fx-color-muted;
}