/* theme-dark.css */
@import url("variables.css");

* {
    -fx-color-background: #101827;
    -fx-color-foreground: #4b5667;
    -fx-color-muted: #306caf;
    -fx-color-border: #52525b;
    -fx-text-primary: #ffffff;
    -fx-text-secondary: #b7d8f0;
}
