/* variables.css */
/* Define global lookups */
* {
    -fx-color-background: #f8f9fa;
    -fx-color-primary: #1e67bc;
    -fx-color-primary-hover: #034d9e;
    -fx-text-primary: #024791;
    -fx-text-secondary: #52585e;
    -fx-color-border: #dee2e6;
    -fx-color-secondary: #6c757d;
    -fx-color-destructive: #dc3545;
    -fx-color-constructive: #28a745;
}
